<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Given a string that represents the column title as appears in an Excel sheet, return its corresponding column number.
</p>
<p>
    But how does the Excel column numbering actually work? Well, the column number is like decimal number, but with base (radix) <b>26</b> and "digits" <b>A-Z</b>. <a target="_blank" href="https://en.wikipedia.org/wiki/Radix">Read more about number bases</a>. Let's look at the exact numbers:
</p>
<pre>
Excel   Decimal
    A   1
   ..
    Z   26
</pre>
<p>The 1-"digit" numbers have ended. 2-"digits" numbers start from double first "digit" and go to double last one:</p>
<pre>
Excel   Decimal
    A   1
   ..
    Z   26
   AA   27
   ..
   AZ   52
   BA   53
   ..
   BZ   78
   CA   79
   ..
   ..
   ZZ   702
</pre>
<p>Now it's turn for 3-"digit" numbers...</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}excel-column-number.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> An integer <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Precondition:</strong>
    <i>Non empty, only upper case, only English letters</i>
</p>
